<%- include('partials/header', {user: user}) -%>
<main class="bg-dark text-light p-3 text-center text-sm-start">

    <!-- Header/intro -->
    <section>
        <div class="container">
            <div class="d-sm-flex align-items-center p-3 justify-content-between">
                <div class="p-3">
                    <img src="images/thought2.png" alt="">
                </div>
                <div class="p-3">
                    <h1>Welcome to TechPaths</h1>
                    <p>Your home for tracking your path through a career in tech and watching others do the same.</p>
                    <p>Join TechPaths for a one simple location to track major (and minor) milestones in your career. View public pages of other user's paths. Participate in career data tracking such as the career change stats below.</p>
                    <h5>Begin your TechPath now!</h5>
                </div>
            </div>
        </div>
    </section>

    <!-- Divider -->
    <section>
        <img src="images/separator.png" alt="pink and purple line" class="img-fluid">
    </section>

    <!-- Three Cards -->
    <section>
        <section class="p-5">
            <div class="container">
                <div class="row text-center g-4">
                    <div class="col-md">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center">
                                <div class="h1 mb-3">
                                    <i class="bi bi-laptop"></i>
                                </div>
                                <h3 class="card-title mb-3">
                                    View the Paths
                                </h3>
                                <p class="card-text">
                                    Need inspiration for your own career? Want to see the typical timeline to learn a new language or skill? How long did it take for someone from your industry to get their first tech job? View our feed of TechPaths.
                                </p>
                                <a href="/feed" class="btn btn-info">View Paths</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-secondary text-light">
                            <div class="card-body text-center">
                                <div class="h1 mb-3">
                                    <i class="bi bi-power"></i>
                                </div>
                                <h3 class="card-title mb-3">
                                    Join TechPaths
                                </h3>
                                <p class="card-text">
                                    Build your own tech path, add milestones, share any part you want to the main feed to inspire others along their way. Track your journey through tech and keep notes and memories on your private page.
                                </p>
                                <a href="/signup" class="btn btn-primary">Join In</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center">
                                <div class="h1 mb-3">
                                    <i class="bi bi-peace"></i>
                                </div>
                                <h3 class="card-title mb-3">
                                    Career Motivation
                                </h3>
                                <p class="card-text">
                                    Pay transparency is the future and the future is NOW. View our ever-growing table of crowd-sourced stats showing the percent increase of income for career changers to tech roles. Sound like you? Add your stats!
                                </p>
                                <a href="http://career-motivation.herokuapp.com" class="btn btn-info">Get Motivated</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <!-- Testimonials -->
    <section class="p-5 bg-light">
        <div id="carouselMultiItemExample" class="carousel slide text-center" data-mdb-ride="carousel">
            <!-- Inner -->
            <div class="carousel-inner py-4">
                <!-- Single item -->
                <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                    <div class="col-lg-4 text-primary">
                        <img class="rounded-circle shadow-1-strong mb-4"
                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="avatar"
                        style="width: 150px;" />
                        <h5 class="mb-3">Anna Deynah</h5>
                        <p>UX Designer</p>
                        <p class="text-muted">
                        <i class="fas fa-quote-left pe-2"></i>
                        TechPaths helped me stay on track to complete my training in UX, and navigate my way to my first full-time role in tech. I love the design of the product too!
                        </p>
                    </div>
                    
                    <div class="col-lg-4 d-none d-lg-block text-primary">
                        <img class="rounded-circle shadow-1-strong mb-4"
                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
                        style="width: 150px;" />
                        <h5 class="mb-3">John Doe</h5>
                        <p>Software Engineer</p>
                        <p class="text-muted">
                        <i class="fas fa-quote-left pe-2"></i>
                        After my bootcamp, I needed a way to keep motivated to find a job. TechPaths kept me tracking accomplishments and I also had another things to show employers when the time was right.
                        </p>
                    </div>
                    
                    <div class="col-lg-4 d-none d-lg-block text-primary">
                        <img class="rounded-circle shadow-1-strong mb-4"
                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar"
                        style="width: 150px;" />
                        <h5 class="mb-3">Maria Kate</h5>
                        <p>Product Lead</p>
                        <p class="text-muted">
                        <i class="fas fa-quote-left pe-2"></i>
                        I did a few traditional CS classes and then dropped out of college. TechPaths helped me see that there's not just one right way into tech. We all have our own unique TechPath. 
                    </p>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <!-- Inner -->
        </div>
        <!-- Carousel wrapper -->
</section>
<section class="container d-sm-flex mt-5">
    <div class="container d-flex justify-content-center align-items-center">
            <div class="site-logo">
                <img src="images/MapPath.png" alt="Music Rating App Logo">
            </div>
            <div class="align-items-center">
                <h1>TechPaths for you and your career.</h1>
                <div class="m-4">
                    <a href="/login" class="btn btn-primary">Login</a>
                    <a href="/signup" class="btn btn-primary">Sign Up</a>
                </div>
                <h5>Begin your TechPath now!</h5>
            </div>
    </div>
</section>

</main>
    

<%- include('partials/footer') -%>