<%- include('partials/header') -%>
<main class="bg-dark text-light p-3 text-center text-sm-start">
    <section>
        <div class="container">
            <div class="d-sm-flex align-items-center p-3 justify-content-between">
                <div class="p-3">
                    <img src="images/thought2.png" alt="">
                </div>
                <div class="p-3">
                    <h1>Welcome to TechPaths</h1>
                    <p>Your home for tracking your path through a career in tech and watching others do the same.</p>
                    <p>Join TechPaths for a one simple location to track major (and minor) milestones in your career. View public pages of other user's paths. Participate in career data tracking such as the career change stats below.</p>
                    <h5>Begin your TechPath now!</h5>
                </div>
            </div>
        </div>
    </section>
    <section>
        <img src="images/separator.png" alt="pink and purple line" class="img-fluid">
    </section>
    <section>
        <section class="p-5">
            <div class="container">
                <div class="row text-center g-4">
                    <div class="col-md">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center">
                                <div class="h1 mb-3">
                                    <i class="bi bi-laptop"></i>
                                </div>
                                <h3 class="card-title mb-3">
                                    Join TechPaths
                                </h3>
                                <p class="card-text">
                                    Build your own tech path, add milestones, share any part you want to the main feed to inspire others along their way. Track your journey through tech and keep notes and memories on your private page.
                                </p>
                                <a href="/signup" class="btn btn-info">Join In</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-secondary text-light">
                            <div class="card-body text-center">
                                <div class="h1 mb-3">
                                    <i class="bi bi-power"></i>
                                </div>
                                <h3 class="card-title mb-3">
                                    View the Paths
                                </h3>
                                <p class="card-text">
                                    Need inspiration for your own career? Want to see the typical timeline to learn a new language or skill? How long did it take for someone from your industry to get their first tech job? View our feed of TechPaths.
                                </p>
                                <a href="#" class="btn btn-primary">View Paths</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center">
                                <div class="h1 mb-3">
                                    <i class="bi bi-peace"></i>
                                </div>
                                <h3 class="card-title mb-3">
                                    Career Motivation
                                </h3>
                                <p class="card-text">
                                    Pay transparency is the future and the future is NOW. View our evergrowing table of crowdsourced stats showing the percent increase of income for career changers to tech roles. Sound like you? Add your stats!
                                </p>
                                <a href="http://career-motivation.herokuapp.com" class="btn btn-info">Get Motivated</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <div class="container d-sm-flex align-items-center justify-content-between">
        <div class="container">
        <div class="site-logo">
            <img src="images/MapPath.png" alt="Music Rating App Logo">
            </div>
        
        </div>
        <div>
            <h1>Welcome to TechPaths</h1>
            <div class="align-items-center justify-content-between m-4">
                <a href="/login" class="btn btn-primary">Login</a>
                <a href="/signup" class="btn btn-primary">Sign Up</a>
            </div>
            <h5>Begin your TechPath now!</h5>
        </div>
    </div>
</main>
    

<%- include('partials/footer') -%>