<%- include('partials/header') -%>
    <main class="bg-dark text-light p-5 text-center text-sm-start">
        <section>
            <div class="container">
                <div class="d-sm-flex align-items-center p-3 justify-content-between">
                    <div class="p-3">
                        <img src="images/thought.png" alt="">
                    </div>
                    <div class="p-3">
                        <h1>Welcome to TechPaths</h1>
                        <p>Your home for tracking your path through a career in tech and watching others do the same.</p>
                        <p>Join TechPaths for a one simple location to track major (and minor) milestones in your career. View public pages of other user's paths. Participate in career data tracking such as the career change stats below.</p>
                        <h5>Begin your TechPath now!</h5>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <section class="p-5">
                <div class="container">
                    <div class="row text-center g-4">
                        <div class="col-md">
                            <div class="card bg-dark text-light">
                                <div class="card-body text-center">
                                    <div class="h1 mb-3">
                                        <i class="bi bi-laptop"></i>
                                    </div>
                                    <h3 class="card-title mb-3">
                                        Virtual Party
                                    </h3>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem suscipit, totam reiciendis ea distinctio iusto.
                                    </p>
                                    <a href="#" class="btn btn-primary">Join In</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="card bg-secondary text-light">
                                <div class="card-body text-center">
                                    <div class="h1 mb-3">
                                        <i class="bi bi-power"></i>
                                    </div>
                                    <h3 class="card-title mb-3">
                                        Get Connected
                                    </h3>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem suscipit, totam reiciendis ea distinctio iusto.
                                    </p>
                                    <a href="#" class="btn btn-dark">Hook Up</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="card bg-dark text-light">
                                <div class="card-body text-center">
                                    <div class="h1 mb-3">
                                        <i class="bi bi-peace"></i>
                                    </div>
                                    <h3 class="card-title mb-3">
                                        Good Times Only
                                    </h3>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem suscipit, totam reiciendis ea distinctio iusto.
                                    </p>
                                    <a href="#" class="btn btn-primary">Chill Out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <div class="container d-sm-flex align-items-center justify-content-between">
            <div>
            <div class="site-logo">
                <img src="images/TechPaths_Transparent.png" alt="Music Rating App Logo">
                </div>
            <ul class="index-flex-parent">
                <li class="index-flex-child"><a href="/login" class="btn">Login</a></li>
                <li class="index-flex-child"><a href="/signup" class="btn">Sign Up</a></li>
            </ul>
            </div>
            <div class=>
                <h1>Welcome to TechPaths</h1>
                <p>Your home for tracking your path through a career in tech and watching others do the same.</p>
                <p>Join TechPaths for a one simple location to track major (and minor) milestones in your career. View public pages of other user's paths. Participate in career data tracking such as the career change stats below.</p>
                <h5>Begin your TechPath now!</h5>
            </div>
        </div>
    </main>
<%- include('partials/footer') -%>