<%- include('partials/header') -%>
    <main class="bg-dark text-light p-5 text-center text-sm-start">
        <div class="container">

            <div class="site-logo">

                <img src="images/TechPaths_Transparent.png" alt="Music Rating App Logo">
    
                </div>

                <h2 class="title-center">Sign in to your TechPath:</h2>

            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <% if (locals.messages.info) { %>
                <% messages.info.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <form action="/login" method="POST" class="form-flex-parent">
                <div class="form-flex-child">
                <label for="email">Email</label>
                <input type="email" name="email">
                </div>
                <div class="form-flex-child">
                <label for="password">Password</label>
                <input type="password" name="password">
                </div>
                <div class="form-flex-child">
                <input type="submit" value="Sign In" class="btn">
                </div>
            </form>
        </div>
    </main>
    <%- include('partials/footer') -%>