<%- include('partials/header') -%>
    <main class="container">
        <div class="row justify-content-center">
            <section class="col-6 mt-5">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <form action="/signup" method="POST">
                    <div class="mb-3">
                        <label for="userName" class="form-label">User Name</label>
                        <input type="text" class="form-control" id="userName" name="userName">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <select class="form-select" aria-label="Default select example" id="industry" name="industry" required>
                        <option selected>Select your former industry</option>
                        <option value="Communications/Marketing">Communications/Marketing</option>
                        <option value="Construction/Automotive/Manufacturing">Construction/Automotive/Manufacturing</option>
                        <option value="Education">Education</option>
                        <option value="Engineering/Oil & Energy">Engineering/Oil & Energy</option>
                        <option value="Finance/Accounting">Finance/Accounting</option>
                        <option value="Government/Military">Government/Military</option>
                        <option value="Healthcare">Healthcare</option>
                        <option value="Hospitality">Hospitality</option>
                        <option value="Human Services/NonProfits">Human Services/NonProfits</option>
                        <option value="Logistics/Supply Chain/Shipping">Logistics/Supply Chain/Shipping</option>
                        <option value="Sales/Retail/Real Estate">Sales/Retail/Real Estate</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="goal" class="form-label">Milestone Goal</label>
                      <input for="text" class="form-control" id="goal" name="goal" required>
                      <div id="goalHelp" class="form-text">Add a goal to start your path.</div>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password">
                      <div id="emailHelp" class="form-text">Must be at least 8 characters.</div>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                      </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </section>
        </div>
    </main>

<%- include('partials/footer') -%>