<%- include('partials/header') -%>
    <main class="bg-dark text-light p-5 text-center text-sm-start">
        <div class="container">

            <div class="site-logo">

                <img src="images/TechPaths_Transparent.png" alt="Music Rating App Logo">
    
                </div>

                <h2 class="title-center">Sign up start your TechPath:</h2>

            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <form action="/signup" method="POST" class="form-flex-parent">
                <div class="form-flex-child">
                <label for="userName">Name</label>
                <input type="text" name="userName">
                </div>
                <div class="form-flex-child">
                <label for="email">Email</label>
                <input type="email" name="email">
                </div>
                <div class="form-flex-child">
                <label for="password">Password</label>
                <input type="password" name="password">
                </div>
                <div class="form-flex-child">
                <label for="confirmPassword">Verify Password</label>
                <input type="password" name="confirmPassword">
                </div>
                <div class="form-flex-child">
                <input type="submit" value="JOIN" class="btn">
                </div>
            </form>
        </div>
    </main>
<%- include('partials/footer') -%>